extends ./layout


block body
  #homeContainer
    canvas
    .signup-container
      #mc_embed_signup
        form#mc-embedded-subscribe-form.validate(action='//nyit.us15.list-manage.com/subscribe/post?u=9882206c9279bae32b3738e2c&id=6cfd11d517', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
          #mc_embed_signup_scroll
            //- label(for='mce-EMAIL') Receive information about the NYIT ACM Old Westbury chapter
            h4 Receive Information About NYIT ACM Old Westbury?
            input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='Email Address', required='true' autofocus='true')
            .clear
              input#mc-embedded-subscribe.btn-large.waves-effect.waves-light.light-blue.darken-2(type='submit', value="Let's do it!", name='subscribe')

  
